@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD CSharp with SQLServer</h1>
    <p> <a href="https://github.com/DavidBarbosa425/CRUD-CSharp-SQLServer">GitHub</a>.</p>
</div>


<div>
    <h2 class="text-success">David Barbosa</h2>
    <p>Email: DavidBarbosa425@gmail.com</p>
</div>